In [1]:
import pyodbc

In [36]:
server = 'tcp:bi20231.database.windows.net' 
database = 'le_countries' 
username = 'khoi.hm204917@sis.hust.edu.vn' 
password = 'password' 


connection = pyodbc.connect('Driver={ODBC Driver 18 for SQL Server};Server='+server+',1433;Database='+database+';Uid='+username+';Pwd='+password+';Encrypt=yes;TrustServerCertificate=no;Connection Timeout=180;Authentication=ActiveDirectoryInteractive')
cursor = connection.cursor()

In [37]:
cursor.execute("SELECT @@version;")
row = cursor.fetchone()
while row:
    print(row[0])
    row = cursor.fetchone()

Microsoft SQL Azure (RTM) - 12.0.2000.8
	Nov 30 2023 14:32:03
	Copyright (C) 2022 Microsoft Corporation

In [48]:
import pandas as pd

df = pd.read_csv('pseudo/country.csv')
for row in df.itertuples():
    print(row.Country, row.Region, row.Subregion, row.Status)
    break

Afghanistan ASIA Southern Asia Developing

In [49]:
cursor.execute('''
		CREATE TABLE region_country (
			country nvarchar(100) primary key,
			subregion nvarchar(50),
			region nvarchar(50),
            status nvarchar(50),
			)
               ''')

for row in df.itertuples():
    cursor.execute('''
        INSERT INTO region_country (country, subregion, region, status)
        VALUES (?,?,?,?)
               ''', row.Country, row.Subregion, row.Region, row.Status)
connection.commit()

In [46]:
cursor.execute(''' SELECT * FROM region_country ''')
row = cursor.fetchone()
while row:
    print(row)
    row = cursor.fetchone()

('Afghanistan', 'Southern Asia', 'ASIA', 'Developing')

# droptest

In [47]:
cursor.execute(''' DROP TABLE region_country ''')

In [ ]:
cursor.execute('''
		CREATE TABLE wpp (
			country nvarchar(100),
            year int,
			subregion nvarchar(50),
			region nvarchar(50),
               
            primary key (country, year),
            foreign key (country) references region_country(country),
			)
               ''')

for row in df.itertuples():
    cursor.execute('''
        INSERT INTO region_country (country, subregion, region, status)
        VALUES (?,?,?,?)
               ''', row.Country, row.Subregion, row.Region, row.Status)
connection.commit()

In [ ]:
cursor.execute('''
		CREATE TABLE who (
			country nvarchar(100),
            year int,
			subregion nvarchar(50),
			region nvarchar(50),
               
            primary key (country, year),
            foreign key (country) references region_country(country),
			)
               ''')

In [ ]:
cursor.execute('''
		CREATE TABLE imf (
			country nvarchar(100),
            year int,
			subregion nvarchar(50),
			region nvarchar(50),
               
            primary key (country, year),
            foreign key (country) references region_country(country),
			)
               ''')